---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import AboutMe from "@/components/AboutMe.astro";
import Experience from "@/components/Experience.astro";
import Skills from "@/components/Skills.astro";
import Education from "@/components/Education.astro";

import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import BookIcon from "@/components/icons/Book.astro";

import { cvEn } from "../../data/cv";
---

<Layout
  title={`${cvEn.name} - ${cvEn.title}`}
  description={`Curriculum Vitae of ${cvEn.name} - ${cvEn.title}`}
  lang="en"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero
        name={cvEn.name}
        title={cvEn.title}
        address={cvEn.address}
        contacts={cvEn.contacts}
        availableLabel={cvEn.labels.availableForWork}
      />
    </SectionContainer>

    <div class="space-y-24 pb-24">
      <SectionContainer id="sobre-mi">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <ProfileCheck class="size-8" />
          {cvEn.labels.aboutMe}
        </h2>
        <AboutMe text={cvEn.aboutMe} />
      </SectionContainer>

      <SectionContainer id="experiencia">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <Briefcase class="size-8" />
          {cvEn.labels.experience}
        </h2>
        <Experience experience={cvEn.experience} />
      </SectionContainer>

      <SectionContainer id="skills">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <CodeIcon class="size-7" />
          {cvEn.labels.skills}
        </h2>
        <Skills skills={cvEn.skills} />
      </SectionContainer>

      <SectionContainer id="educacion">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
        >
          <BookIcon class="size-8" />
          {cvEn.labels.education}
        </h2>
        <Education education={cvEn.education} />
      </SectionContainer>
    </div>
  </main>
</Layout>
